{% extends "_base.html" %}
{% load crispy_forms_tags%}


{% block title %}
Login
{% endblock title %}


{% block content %}


<div class="container">
    <div class="col-md-5 col-lg-4 mx-auto">
        <div class="auth-wrap">
            <div class="auth-header">
                <img src="images/logo.png" class="logo-dark-mode" alt="" style="display: block;">
                <img src="images/logo-dark.png" class="logo-light-mode" alt="" style="display: none;">
                <p>  تغییر رمز عبور </p>
            </div>
            <div class="auth-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="auth-btn">
                        <button type="submit" class="theme-btn"><span class="far fa-lock"></span>تغییر رمز عبور</button>
                    </div>
                </form>
                
          
            </div>
        </div>
    </div>
</div>




{% endblock content %}