{%load static%}
<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}
    
    {% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="images/favicon.png">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all-fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/all-fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plyr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
<!-- Plyr JS -->
<script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>


</head>

<body class="home-4">

    <div class="preloader d-none">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
   



    <header class="header" dir="rtl">
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container position-relative">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/logo.png" class="logo-dark-mode" alt="logo">
                        <img src="images/logo-dark.png" class="logo-light-mode" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="nav-search-wrap">
                            <div class="search-btn">
                                <button type="button" class="nav-right-link search-box-outer"><i
                                        class="icon-search"></i></button>
                            </div>

                            <div class="search-area">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="کلمه را وارد کنید...">
                                        <button type="submit" class="search-icon-btn"><i
                                                class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        
                        <div class="color-mode theme-mode-control">
                            <button type="button" class="nav-right-link light-btn"><i class="icon-sun"></i></button>
                            <button type="button" class="nav-right-link dark-btn"><i class="icon-moon-2"></i></button>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-mobile-icon"><i class="icon-menu-2"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'filmlist' %}" >صفحه اصلی</a>
                                
                               
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">ژانر</a>
                                <div class="dropdown-menu mega-menu fade-down">
                                    <div class="row">
                                        
                                        
                                        <div class="col-lg-4">
                                            {% for item  in genres  %}
                                            <a class="dropdown-item" href="movie-category.html">{{item.name}}</a>
                                            {% endfor %}
                                        </div>
                                        <div class="col-lg-4">
                                            
                                        </div>
                                        <div class="col-lg-4">
                                         
                                        </div>
                                    </div>
                                </div>
                            </li>
                         
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">صفحات</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="about.html">درباره ما</a></li>
                                    <li><a class="dropdown-item" href="team.html">تیم ما</a></li>
                                    
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">حساب کاربری</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="profile.html">پروفایل</a></li>
                                            <li><a class="dropdown-item" href="login.html">ورود</a></li>
                                            <li><a class="dropdown-item" href="register.html">ثبت نام</a></li>
                                            <li><a class="dropdown-item" href="forgot-password.html">فراموشی رمز</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">قیمت ها</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="pricing.html">قیمت یک</a></li>
                                            <li><a class="dropdown-item" href="pricing-2.html">قیمت دو</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="contact.html">تماس با ما</a></li>
                                    <li><a class="dropdown-item" href="faq.html">سوالات متداول</a></li>
                                    <li><a class="dropdown-item" href="testimonial.html">نظرات</a></li>
                                    <li><a class="dropdown-item" href="404.html">خطای ۴۰۴</a></li>
                                    <li><a class="dropdown-item" href="coming-soon.html">به زودی</a></li>
                                    <li><a class="dropdown-item" href="terms.html">شرایط استفاده از خدمات</a></li>
                                    <li><a class="dropdown-item" href="privacy.html"> حفظ حریم خصوصی</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'allfilmlist' %}">فیلم‌ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'allseireslist' %}">سریال‌ها</a>
                            </li>
                            <li class="nav-item live"><a class="nav-link" href="live.html"><i
                                        class="fad fa-circle-dot animated infinite fadeIn"></i> زنده</a></li>
                        </ul>
                        <div class="nav-right">
                            <div class="nav-search-wrap">
                                <div class="search-btn">
                                    <button type="button" class="nav-right-link search-box-outer"><i
                                            class="icon-search"></i></button>
                                </div>

                                <div class="search-area">
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="کلمه را وارد نمایید...">
                                            <button type="submit" class="search-icon-btn"><i
                                                    class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="color-mode theme-mode-control">
                                <button type="button" class="nav-right-link light-btn"><i class="icon-sun"></i></button>
                                <button type="button" class="nav-right-link dark-btn"><i
                                        class="icon-moon-2"></i></button>
                            </div>
                            <div class="nav-right-btn">
                                {% if user.is_authenticated %}
                                <a href="{% url 'user_profile' user.id %}" class="theme-btn"><i class="far fa-sign-in"></i> {{user.username}} </a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="theme-btn"><i class="far fa-sign-in"></i> ثبت نام </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
    
    {% endblock content %}

    <footer class="footer-area" dir="rtl">
        <div class="footer-widget">
            <div class="container">
                <div class="footer-widget-wrapper pt-100 pb-50">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-widget-box about-us">
                                <a href="#" class="footer-logo">
                                    <img src="images/logo.png" class="logo-dark-mode" alt="">
                                    <img src="images/logo-dark.png" class="logo-light-mode" alt="">
                                </a>
                                <p class="mb-3">
                                    ما انواع مختلفی از معابر موجود داریم که اکثریت آنها دچار تغییر شده اند
                                     به نوعی با تزریق کلمات طنز باورپذیر.
                                </p>
                                <div class="footer-language">
                                    <div class="dropdown">
                                        <a href="#" class="language dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <img src="images/united-states.png" alt="">
                                            <span>انگلیسی</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><img src="images/united-states.png"
                                                        alt="">انگلیسی</a></li>
                                            <li><a class="dropdown-item" href="#"><img src="images/germany.png"
                                                        alt="">ترکی</a></li>
                                            <li><a class="dropdown-item" href="#"><img src="images/france.png"
                                                        alt="">عربی</a></li>
                                            <li><a class="dropdown-item" href="#"><img src="images/china.png"
                                                        alt="">ژاپنی</a></li>
                                            <li><a class="dropdown-item" href="#"><img src="images/spain.png"
                                                        alt="">چینی</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">موپلی</h4>
                                <ul class="footer-list">
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">شاهدات</a></li>
                                    <li><a href="#">با ما تماس بگیرید</a></li>
                                    <li><a href="#">شرایط خدمات</a></li>
                                    <li><a href="#">خط مشی رازداری</a></li>
                                    <li><a href="#">اخبار به‌روزرسانی</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">ژانر</h4>
                                <ul class="footer-list">
                                    <li><a href="#">اکشن</a></li>
                                    <li><a href="#">بیوگرافی</a></li>
                                    <li><a href="#">مستند</a></li>
                                    <li><a href="#">ماجراجویی</a></li>
                                    <li><a href="#">ریلی تایم</a></li>
                                    <li><a href="#">روانی</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">پشتیبانی</h4>
                                <ul class="footer-list">
                                    <li><a href="#">مرکز راهنمایی</a></li>
                                    <li><a href="#">سؤالات متداول</a></li>
                                    <li><a href="#">حساب من</a></li>
                                    <li><a href="#">درخواست فیلم</a></li>
                                    <li><a href="#">پشتیبانی</a></li>
                                    <li><a href="#">مرکز رسانه</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">خبرنامه</h4>
                                <div class="footer-newsletter">
                                    <p>برای دریافت آخرین به روز رسانی و اخبار، در خبرنامه ما مشترک شوید</p>
                                    <div class="subscribe-form">
                                        <form action="#">
                                            <input type="email" class="form-control" placeholder="ایمیل آدرس">
                                            <button class="theme-btn" type="submit">
                                                <span class="icon-paper-plane"></span>عضویت
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-none">
                            <div class="footer-top-link">
                                <a href="#">IMDB برتر</a>
                                <a href="#">نسخه جدید</a>
                                <a href="#">فیلم‌ها</a>
                                <a href="#">نمایش‌های تلویزیونی</a>
                                <a href="#">ویدیوها</a>
                                <a href="#">اقدام</a>
                                <a href="#">فانتزی</a>
                                <a href="#">انیمیشن</a>
                                <a href="#">موسیقی</a>
                                <a href="#">جرم</a>
                                <a href="#">وحشتناک</a>
                                <a href="#">ورزش</a>
                                <a href="#">درام</a>
                                <a href="#">تماشا کنید</a>
                                <a href="#">نقشه سایت</a>
                                <a href="#">شو کمدی</a>
                                <a href="#">کمدی</a>
                                <a href="#">تماشا کنید</a>
                                <a href="#">آخرین فیلم</a>
                                <a href="#">فیلم آینده</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright" >
            <div class="container">
                <div class="row" >
                    <div class="col-md-6 align-self-center">
                        <p class="copyright-text">
                            © حق کلی و رایت <span id="date"></span> <a href="#"> موپلی </a> همه حقوق سایت.
                        </p>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                            <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counter-up.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/plyr.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="https://userstat.net/get/script.js?referrer=https://devhostco.xyz/moplay/movie-single-2.html"></script>


 



</body>

</html>